.navigation {
  background-color: #03045E;
  overflow: hidden;
}

.navigation a {
  float: left;
  font-family: Times new roman;
  font-weight:700;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #00B4D8;
  color: black;
}

.navigation a.active {
  background-color: #00B4D8;
  color: #CAF0F8;
}

/*design for tables*/

body{
background: #2a52be;
}
table{
width:500px;
margin:auto;
table-layout:auto;
text-align:center;
margin-top:50px;
font-family:times new roman;
font-weight:700;
color:black;
}
table,th,td{
border: 2px solid black;
padding:10px;
font-size:15px;
}
th{
background:#03045E;
padding:10px;
text-transform:uppercase;
color:white;
}
td:nth-child(5n+1){
background:#00B4D8;
color:black;
}
td:nth-child(5n+2){
background:#CAF0F8;
color:black;
}
td:nth-child(5n+3){
background:#CAF0F8;
color:black;
}
td:nth-child(5n+4){
background:#CAF0F8;
color:black;
}
.btn {
border:2px solid black;
background:none;
padding:5px 5px;
font-size:20px;
font-family:times new roman;
font-weight: 700;
margin:10px;
margin-top:50px;
margin-bottom:20px;
consur:pointer;
transition:0.8s;
position:relative;
overflow:hidden;
background-color:#CAF0F8;

}
.return{
color:black;
}
.return:hover{
color:white;
}
.btn::before{
content:"";
position:absolute;
left:0;
width:100%;
height:10%;
z-index:-1;
transition:0.8s;
}
.return::before{
top:0;
border-radius:0 0 50% 50%;
}
.return:hover::before{
height:180%;
}

