.navigation {
  background-color: #03045E;
  overflow: hidden;
}

.navigation a {
  float: left;
  font-family: Times new roman;
  font-weight:700;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #00B4D8;
  color: black;
}

.navigation a.active {
  background-color: #00B4D8;
  color: #CAF0F8;
}

/*design for tables*/


#body{

  background: linear-gradient(-45deg, #FFF8F3, #A3E4DB, #1C6DD0, #FED1EF);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: monospace;
  user-select: none;


}
#table_body{
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #FED1EF;
  border-radius: 20px;
}
.table{ 
  box-sizing: border-box;
  overflow: auto; 
  max-height:650px;
  box-shadow: 7px 8px 28px -13px rgba(0,0,0,0.75);
  -webkit-box-shadow: 7px 8px 28px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 8px 28px -13px rgba(0,0,0,0.75);
  border-radius: 20px;

}
::-webkit-scrollbar {
  width: 0;
}

thead{
  text-align: left;
}
.table thead th { 

  position: sticky; 
  top: 0; 
  z-index: 1; 
}

table  { 

  border-collapse: collapse; 
  width: 100%; 
  background-color: #FED1EF;
  color: #0061A8;
  font-size: 18px;

}

td { 

  padding: 25px;

}
th{ 

  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  background:#A3E4DB; 
  font-size: 23px;
  font-weight: bolder;

}

table tr:hover{
  background-color: #1C6DD0;
  color: white;
  font-weight: 700;
  cursor: pointer;


  box-shadow: 2px 12px 28px -13px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 12px 28px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 12px 28px -13px rgba(0,0,0,0.75);
}


@media only screen and (max-width: 800px) {

  th, table{ 
    font-size: 20px;
  
  }
}
@media only screen and (max-width: 1000px) {

  th, table{ 
    font-size: 13px;
  
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


body {
  background:#FFF8F3;
  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
  user-select: none;
}

body.art1 {

  background: #F68989;

}

body.art2 {

  background: #A3E4DB;

}

body.art3 {

  background: #A2D2FF;

}



.title{
  width: 100%;
  text-align: center;
}
.title h1{
  font-size:50px;

}
.card1 {
  text-align:center;
  position: absolute;
  left: 100px;
  width: 350px;
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#F68989,#C65D7B);
  transition:.6s;
  border-radius: 20px;
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}
.card1:hover{
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card1 img{
  transform: translateY(15px);
  width:200px;
  height:120px;
}
h3{
  font-size:25px;
  font-family: monospace;
  font-weight: bolder;
  color:#3A3845;
  transform: translatey(10px);
}

p{
  font-size: 14px;
  font-family: monospace;
  color: #F6E7D8;
  text-align:center;
  width:90%;
  transform: translatex(16px);
}


.card2 {
  text-align:center;
  position: absolute;
  left: 550px;
  width: 350px;
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#A3E4DB,#97DBAE);
  transition:.6s;
  border-radius: 20px;
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}
.card2:hover{
   transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card2 img{
  transform: translateY(15px);
  width:180px;
  height:150px;
}
.card3 {
  text-align:center;
  position: absolute;
  left: 1000px;
  width: 350px;
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(#2F86A6,#A2D2FF);
  transition:.6s;
  border-radius: 20px;
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}
.card3:hover{
   transform: rotatex(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card3 img{
  transform: translateY(15px);
  width:200px;
  height:120px;
}
.footer{
  position: absolute;
  top: 500px;
  margin: 10px;
  width: 100%;
   text-align: center;
}


.footer h2{
  font-size:18px;
  font-family: 'Exo', sans-serif;
  
}
.svg-wrapper {
  height: 40px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 220px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 100 540;
  stroke-dashoffset: -320;
  stroke-width: 5px;
  stroke: #3A3845;

}

.text {
  color: #3A3845;
  font-weight: bolder;
  font-family: monospace;
  font-size: 18px;
  letter-spacing: 5px;
  line-height: 22px;
  position: relative;
  top: -28px;
  text-decoration: none;
}

@keyframes draw {
  0% {
    stroke-dasharray: 100 540;
  stroke-dashoffset: -320;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

#center{

  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  justify-content: flex-start;

}

.text-anim {
  position: relative;
  font-size: 4em;
  color: #4C4C6D;
  font-family: monospace;
  letter-spacing: 15px;
}
.text-anim > span {

  display: block;
  white-space: nowrap;
  overflow: hidden;
  animation: text-animation 4s linear infinite;
  border-right: 2px solid black;
}
.text-anim::after {

  content: attr(data-text);
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  -webkit-text-stroke: 1px black;
}

@keyframes text-animation {
  0% {
    width: 0px;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0px;
  }
}

@-webkit-keyframes text-animation {
  0% {
    width: 0px;
  }
  50% {
    width: auto;
  }
  100% {
    width: 0px;
  }
}

